html {
  height: 100vh;
}

body {
  width: 80%;
  margin: 5% auto;
  background-color: #a799ff;
  background-image: radial-gradient(
      at 29% 45%,
      hsla(347, 82%, 64%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 58% 60%, hsla(177, 70%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 64% 98%, hsla(271, 60%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 4%, hsla(356, 88%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 2% 98%, hsla(198, 83%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 42% 90%, hsla(357, 96%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 99%, hsla(354, 60%, 79%, 1) 0px, transparent 50%);
  display: flex;
  justify-content: center;
}

.calculator-container {
  width: 350px;
  height: 600px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-color: rgba(17, 25, 40, 0.52);
  backdrop-filter: blur(40px) saturate(100%);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  );
  mix-blend-mode: hard-light;
  box-shadow: 0 2px 10px rgb(0, 0, 0 / 10%), 0 10px 15px rgba(0 0 0 / 20%);
  display: grid;
  grid-template-areas: "display" "numpad";
  grid-template-rows: 200px 400px;
}

#display {
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-self: flex-end;
  font-family: "Lato", sans-serif;
  grid-area: display;
  max-width: 350px;
}

#operation {
  align-self: end;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

#result {
  align-self: end;
  color: rgba(255, 255, 255, 0.9);
  font-size: 3em;
  font-weight: 700;
  text-align: end;
  justify-self: start;
  direction: rtl;
  overflow: hidden;
  max-width: 296px;
}

#result span {
  direction: ltr;
  unicode-bidi: bidi-override;
}

#numpad {
  grid-area: numpad;
  width: 90%;
  display: grid;
  grid-template-rows: repeat(4, 80px);
  grid-template-columns: repeat(4, 80px);
  justify-items: center;
  align-items: center;
  padding: 0 5%;
  backdrop-filter: blur(11.8px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  mix-blend-mode: hard-light;
}

button {
  display: block;
  width: 50px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  background-position: top center;
  box-shadow: 0 2px 10px rgb(0, 0, 0 / 10%), 0 10px 15px rgba(0 0 0 / 20%);
  font-family: "Inconsolata", monospace;
  color: #212121;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: background, color;
}

.btn-number,
.btn-delete {
  backdrop-filter: blur(38.2px);
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  mix-blend-mode: hard-light;
  border-radius: 12px;
  font-family: "Inconsolata", monospace;
  color: #212121;
  font-weight: 700;
  font-size: 1.2em;
}

.btn-number:hover,
.btn-delete:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.btn-number:active,
.btn-delete:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
}

.btn-number::after,
.btn-delete::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-number::after,
.btn-delete::after {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
}

.btn-number:hover::after,
.btn-delete:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-delete {
  color: rgb(231, 76, 60, 0.8);
}

.btn-operation {
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
  backdrop-filter: blur(38.2px);
  background-image: linear-gradient(
    45deg,
    rgba(172, 50, 249, 0.125),
    rgba(172, 50, 249, 0.35)
  );
  mix-blend-mode: hard-light;
}

.btn-operation:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    45deg,
    rgba(172, 50, 249, 0.5),
    rgba(172, 50, 249, 0.5)
  );
}

.btn-operation:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    45deg,
    rgba(172, 50, 249, 0.2),
    rgba(172, 50, 249, 0.8)
  );
}

.btn-operation::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-operation::after {
  background-image: linear-gradient(
    45deg,
    rgba(172, 50, 249, 0.3),
    rgba(172, 50, 249, 0.3)
  ) !important;
}

.btn-operation:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-container {
  grid-area: 5 / 3 / 6 / 5;
  width: 130px;
  height: 50px;
}

.btn-equal {
  padding: 0;
  width: 130px;
  background-image: linear-gradient(
    90deg,
    #0065ff,
    #6942ef,
    #6554c0,
    #008cff,
    #0065ff,
    #6942ef
  );
  background-size: 400%;
  background-position: 0% 0%;
  color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: normal;
}

.btn-equal:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: gradientRotate 2s infinite;
}

.btn-equal:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.btn-equal:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes gradientRotate {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
